# Optimizing Sourcing and Pricing Strategies for GlobeHarvest Co. in Kenya

## Collaborators
    . Joyce Chepng'eno
    . Sarah Karanja
    . Brandon Muraya
    . Pete Njagi
    . Tom Mwambire
    . James Koli

## Introduction:
GlobeHarvest Co. is an emerging import-export company poised to enter the Kenyan agricultural market. With a commitment to leveraging data-driven strategies, GlobeHarvest aims to optimize its sourcing and pricing strategies to establish a competitive presence in Kenya's agricultural sector. By harnessing the power of data analytics, GlobeHarvest seeks to gain valuable insights into market dynamics, consumer preferences, and pricing trends to drive informed decision-making and maximize profitability.

## Business Understanding:
Kenya's agricultural market offers immense potential for GlobeHarvest Co., characterized by diverse regions with varying agricultural capabilities and consumer demands. However, navigating this complex landscape presents several challenges, including identifying cost-effective sourcing locations, strategically timing purchases, and ensuring competitive pricing amid price variabilities across regions. To succeed in the Kenyan market, GlobeHarvest must develop a deep understanding of market dynamics, consumer behavior, and competitive factors to optimize its procurement processes and pricing strategies effectively.

## Problem Statement:
GlobeHarvest Co. faces the following key challenges in entering the Kenyan agricultural market:

**Identifying Optimal Sourcing Locations**: The company needs to identify the most cost-effective sourcing locations across different Kenyan counties to minimize procurement costs and ensure a reliable supply chain.

**Timing Purchases Strategically**: GlobeHarvest requires insights into the optimal timing for purchasing various commodities, considering seasonal fluctuations, market trends, and price dynamics.

**Navigating Price Variabilities**: Significant price discrepancies exist across different regions in Kenya, necessitating a systematic approach to ensure competitive pricing and optimize profitability.

**Ensuring Global Competitiveness**: GlobeHarvest aims not only to source commodities but also potentially export products. Understanding how Kenyan prices compare to global averages is essential for identifying export opportunities and maintaining competitiveness in the global market.

## Objectives:
The primary objectives of GlobeHarvest Co. in optimizing its sourcing and pricing strategies for the Kenyan market are as follows:

**Identify Cost-Effective Sourcing Locations**: Analyze data to identify regions in Kenya that offer the most cost-effective sourcing opportunities for various food commodities.

**Strategically Time Purchases**: Utilize historical data and market insights to determine the optimal timing for purchasing specific commodities, considering seasonal trends and market dynamics.

**Navigate Price Variabilities**: Develop strategies to navigate price variabilities across different regions in Kenya, ensuring competitive pricing and maximizing profitability.

**Ensure Global Competitiveness**: Analyze Kenyan prices against global averages to identify competitive advantages and potential export opportunities, positioning GlobeHarvest as a competitive player in the global market.

## Data Understanding:

The dataset obtained from Kaggle consists of food price data collected in Kenya, providing valuable insights into the pricing dynamics of various food commodities across different regions and markets. The dataset contains the following columns:

**date**: The date of the price observation.

**admin1**: The first-level administrative division (e.g., province or county) in Kenya.

**admin2**: The second-level administrative division (e.g., district or sub-county) in Kenya.

**market**: The name of the market where the price was recorded.

**latitude**: The latitude coordinates of the market location.

**longitude**: The longitude coordinates of the market location.

**category**: The category of the food commodity (e.g., cereals and tubers, pulses and nuts, meat, fish, and eggs).

**commodity**: The specific name of the food commodity.

**unit**: The unit of measurement for the price (e.g., KG for kilograms, G for grams).

**priceflag**: Flag indicating the nature of the price observation (e.g., actual, aggregate).

**pricetype**: The type of price (e.g., Wholesale, Retail).

**currency**: The currency used for pricing (e.g., KES for Kenyan Shilling).

**price**: The price of the commodity in the local currency.

**usdprice**: The price of the commodity converted to USD.

The dataset contains 10,767 rows, each representing a unique observation of food prices in a specific market on a particular date. This dataset provides a comprehensive view of food pricing trends and variations across different regions and market types in Kenya, offering valuable insights for analysis and decision-making in the agricultural sector.

In [1]:
# Importing relevant modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
#importing food prices data frame dropping the second column
df = pd.read_csv('wfp_food_prices_ken.csv',skiprows=[1])
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235
1,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659
2,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.00,44.9705
3,2006-01-15,Eastern,Kitui,Kitui,-1.366667,38.016667,cereals and tubers,Maize (white),KG,actual,Retail,KES,17.00,0.2355
4,2006-01-15,Eastern,Kitui,Kitui,-1.366667,38.016667,pulses and nuts,Beans (dry),KG,actual,Retail,KES,39.00,0.5403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10761,2023-12-15,Rift Valley,Turkana,Mogadishu (Kakuma),3.717080,34.850333,cereals and tubers,Maize flour,KG,aggregate,Retail,KES,92.00,0.6031
10762,2023-12-15,Rift Valley,Turkana,Mogadishu (Kakuma),3.717080,34.850333,cereals and tubers,Potatoes (Irish),KG,aggregate,Retail,KES,73.00,0.4785
10763,2023-12-15,Rift Valley,Turkana,Mogadishu (Kakuma),3.717080,34.850333,"meat, fish and eggs",Meat (goat),KG,aggregate,Retail,KES,800.00,5.2442
10764,2023-12-15,Rift Valley,Turkana,Mogadishu (Kakuma),3.717080,34.850333,miscellaneous food,Salt,200 G,aggregate,Retail,KES,10.00,0.0656
10765,2023-12-15,Rift Valley,Turkana,Mogadishu (Kakuma),3.717080,34.850333,miscellaneous food,Sugar,KG,aggregate,Retail,KES,210.50,1.3799

In [57]:
df.dtypes

date          object
admin1        object
admin2        object
market        object
latitude     float64
longitude    float64
category      object
commodity     object
unit          object
priceflag     object
pricetype     object
currency      object
price        float64
usdprice     float64
dtype: object

The cell above shows the data columns and their respective data types

In [8]:
df.shape

(10767, 14)

The data set contains 10767 rows and 14 columns as seen in the cell above

In [60]:
#showing the unique values in the columns
print("\nUnique Values for Categorical Columns:")
for col in df.select_dtypes(include=['object']):
    print(f"{col}: {df[col].nunique()} unique values")

Unique Values for Categorical Columns:
date: 215 unique values
admin1: 7 unique values
admin2: 22 unique values
market: 62 unique values
category: 8 unique values
commodity: 47 unique values
unit: 14 unique values
priceflag: 2 unique values
pricetype: 2 unique values
currency: 1 unique values


### Data preparation

In [54]:
#checking for duplicates
df.duplicated().sum()

0

In [55]:
# checking for null values
df.isnull().sum()

date         0
admin1       0
admin2       0
market       0
latitude     0
longitude    0
category     0
commodity    0
unit         0
priceflag    0
pricetype    0
currency     0
price        0
usdprice     0
dtype: int64

As we can see from the cells above we do not have any duplicates or null values

### Feature Engineering
In this section we create new data columns to enable us to better understand the data and help achieve our project goals

In [62]:
#this maps the various measurement units in the data to their standardised unit
conversion_factors = {
    'KG': 1,
    '90 KG': 90,
    '400 G': 0.4,
    '50 KG': 50,
    '500 ML': 0.5,
    'L': 1000,  
    '200 ML': 0.2,
    'Unit': 1,  
    'Bunch': 1,  
    '64 KG': 64,
    '13 KG': 13,
    '126 KG': 126,
    '200 G': 0.2,
    'Head': 1  
}


def standardize_unit(row):
    unit = row['unit']
    if unit in conversion_factors:
        return conversion_factors[unit]
    else:
        return None  

#creates a new data column to show the standardized measurement units
df['standardized_unit'] = df.apply(standardize_unit, axis=1)

print(df.head())

         date   admin1   admin2   market  latitude  longitude  \
0  2006-01-15    Coast  Mombasa  Mombasa -4.050000  39.666667
1  2006-01-15    Coast  Mombasa  Mombasa -4.050000  39.666667
2  2006-01-15    Coast  Mombasa  Mombasa -4.050000  39.666667
3  2006-01-15  Eastern    Kitui    Kitui -1.366667  38.016667
4  2006-01-15  Eastern    Kitui    Kitui -1.366667  38.016667

             category      commodity   unit priceflag  pricetype currency  \
0  cereals and tubers          Maize     KG    actual  Wholesale      KES
1     pulses and nuts          Beans     KG    actual  Wholesale      KES
2     pulses and nuts    Beans (dry)  90 KG    actual  Wholesale      KES
3  cereals and tubers  Maize (white)     KG    actual     Retail      KES
4     pulses and nuts    Beans (dry)     KG    actual     Retail      KES

     price  usdprice  standardized_unit
0    16.13    0.2235                1.0
1    33.63    0.4659                1.0
2  3246.00   44.9705               90.0
3    17.00    0.2355                1.0
4    39.00    0.5403                1.0

In [63]:
contains_strings = pd.to_numeric(df['standardized_unit'], errors='coerce').isnull().any()

if contains_strings:
    print("The 'standardized_unit' column contains strings.")
else:
    print("The 'standardized_unit' column does not contain strings.")

The 'standardized_unit' column does not contain strings.

In [64]:

check_strings = pd.to_numeric(df['price']).isnull().any()

if check_strings:
    print("The 'price' column contains strings.")
else:
    print("The 'price' column does not contain strings.")

The 'price' column does not contain strings.

In [65]:
#converts price column into float
df['price'] = df['price'].astype(float)

In [66]:
df.dtypes

date                  object
admin1                object
admin2                object
market                object
latitude             float64
longitude            float64
category              object
commodity             object
unit                  object
priceflag             object
pricetype             object
currency              object
price                float64
usdprice             float64
standardized_unit    float64
dtype: object

In [68]:
df['price_per_standard_unit'] = (df['price'] / df['standardized_unit']).round(3)
df.head(10)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,standardized_unit,price_per_standard_unit
0,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235,1.0,16.130
1,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659,1.0,33.630
2,2006-01-15,Coast,Mombasa,Mombasa,-4.050000,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.00,44.9705,90.0,36.067
3,2006-01-15,Eastern,Kitui,Kitui,-1.366667,38.016667,cereals and tubers,Maize (white),KG,actual,Retail,KES,17.00,0.2355,1.0,17.000
4,2006-01-15,Eastern,Kitui,Kitui,-1.366667,38.016667,pulses and nuts,Beans (dry),KG,actual,Retail,KES,39.00,0.5403,1.0,39.000
5,2006-01-15,Eastern,Marsabit,Marsabit,2.333333,37.983333,cereals and tubers,Maize (white),KG,actual,Retail,KES,21.00,0.2909,1.0,21.000
6,2006-01-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Bread,400 G,actual,Retail,KES,26.00,0.3602,0.4,65.000
7,2006-01-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Maize,KG,actual,Wholesale,KES,15.48,0.2145,1.0,15.480
8,2006-01-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1399.00,19.3819,90.0,15.544
9,2006-01-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Potatoes (Irish),50 KG,actual,Wholesale,KES,664.43,9.2052,50.0,13.289

The column price_per_standard_unit was created to ensure every item is on the same scale of measurement and price